<!-- signup.html -->
{% extends '../base/base.html' %}

{% block title %}Sign Up{% endblock %}

{% block navbar %}
{% endblock %}

{% block style %}

<style>
    /* Card styling */
    .card {
        margin-top: 20px;
        border-radius: 10px;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    }

    .card-header {
        background-color: #007bff;
        color: white;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
    }


    .form-group {
        margin-bottom: 20px;
    }


    .form-control {
        border-radius: 5px;
    }

    /* Button styling */
    .btn-primary {
        background-color: #007bff;
        border-color: #007bff;
        border-radius: 5px;
        padding: 10px 20px;
        font-size: 16px;
        font-weight: bold;
        transition: background-color 0.3s ease, border-color 0.3s ease;
    }

    .btn-primary:hover {
        background-color: #0056b3;
        border-color: #0056b3;
    }

    .widthmake {
        max-width: 1300px;
        margin-top: 80px;
    }

    .card-body {
        /* margin-top: 10px; */
    }
</style>

{% endblock %}

{% block content %}
<div class="widthmake">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card">
                <div class="card-header">{{ block.super }} Sign Up</div>

                {% if messages %}
                <ul>
                    {% for message in messages %}


                    <li style=" margin-top: 10px;">{{ message }}</li>

                    {% endfor %}
                </ul>
                {% endif %}

                <div class="card-body">
                    <form method="POST" action="{% url 'signupdata/' %}">
                        {% csrf_token %}

                        <div class="form-group">
                            <label for="username">Username</label>
                            <input type="text" name="username" id="username" class="form-control" required>
                        </div>
                        <div class="form-group">
                            <label for="password1">Password</label>
                            <input type="password" name="password1" id="password1" class="form-control" required>
                        </div>
                        <div class="form-group">
                            <label for="password2">Confirm Password</label>
                            <input type="password" name="password2" id="password2" class="form-control" required>
                        </div>

                        <!-- <div class="form-group">
                            <label for="superkey">SuperKey for Admin</label>
                            <input type="superkey" name="superkey" id="superkey" class="form-control" placeholder="Not Compulsory">
                        </div> -->

                        <button type="submit" class="btn btn-primary">Sign Up</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}