<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <title>{% block title %}Job Search Portal{% endblock %}</title>

  <link rel="stylesheet", href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  {% block style %}
  <style>

  </style>
  {% endblock %}
</head>

<body>

  {% block navbar %}

  <nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top d-flex justify-content-between align-items-center"
    style="height: 60px; margin-left: 70px;">

    <div class="collapse navbar-collapse" id="navbarSupportedContent">

      <!-- <ul class="navbar-nav ml-auto d-flex align-items-center"> -->
      <ul class="navbar-nav d-flex justify-content-center align-items-center">
        <li class="nav-item active">
          <a class="nav-link" href="{% url 'home' %}"><b>Jobs </b><span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'manage_profile' %}">Manage Profile</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'save_home_data' %}">Saved Jobs</a>

        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'apply_home_data' %}">Applied Jobs</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'notificationpage' %}">Notification</a>
        </li>

        <li class="nav-item d-flex align-items-center">
          {% if user.is_authenticated %}
          <a class="nav-link" href="#">Logged in as: {{ user.username }}</a>
          <form class="nav-link" action="{% url 'logout' %}" method="post">
            {% csrf_token %}
            <button type="submit" class="btn btn-link">Logout</button>
          </form>
          {% else %}
          <p class="nav-link">You are not logged in</p>
          <a href="{% url 'login' %}" class="nav-link">Log In</a>
          {% endif %}
        </li>

        <li class="nav-item">
          {% if user.is_superuser %}
          <a class="nav-link" href="{% url 'addjobs' %}">Admin Panel</a>
          {% endif %}
        </li>
        <li>

          <div style="padding: 20px;">
            <form method="post" action="{% url 'search_data' %}" style="display: flex;">
              {% csrf_token %}
              <input type="text" name="text" placeholder="Search by name or keywords"
                style="flex: 1; padding: 10px; border: 1px solid #ccc; border-radius: 5px 0 0 5px;">
              <button type="submit"
                style="padding: 10px 20px; background-color: #4caf50; color: white; border: 1px solid #4caf50; border-radius: 0 5px 5px 0;">Search</button>
            </form>
          </div>


        </li>
      </ul>


    </div>
  </nav>

  {% endblock %}


  {% block content %}
  {% endblock %}



  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

</body>

</html>