{% extends '../base/base.html' %}

{% block title %}
Notifications
{% endblock %}

{% block style %}
<style>
    .container {
        margin-top: 80px;
    }

    .notification-table {
        width: 100%;
    }

    .notification-table td {
        padding: 12px;
        border: 1px solid #dee2e6;
    }

</style>
{% endblock %}




{% block content %}
    <div class="container">
        <h1>Notifications</h1>


            {% if notifydata %}

                <table class="notification-table">
                    <tbody>
                        {% for notifications in notifydata %}
                            <tr>
                                 <td>{{ notifications.text_notification }}

                                        {% if user.is_superuser %}
                                        <form method="post" action="{% url 'delete_notification' notifications.id %}">
                                        {% csrf_token %}
                                        <button type="submit" class="delete-btnssss"
                                        style="background-color: red; color: white; border: none; padding: 10px 20px;">Delete</button>
                                        </form>
                                        {% endif %}

                        {% endfor %}

                                            {% for job in data %}
                                            <form method="post" action="{% url 'applyportal_home_data' job.id %}">
                                                {% csrf_token %}
                                                <button type="submit" class="apply-btn">Apply</button>
                                            </form>
                                            {% endfor %}

            {% endif %}


                                </td>
                            </tr>
            </tbody>
        </table>






    </div>
</div>
{% endblock %}